<h2>Books</h2>
<p><a href="/">&#8592; Home</a></p>
<ul class="recent-media grid">
  <% @books.each do |item| %>
    <li>
      <a href="/books/<%= item[:id] %>">
        <img class="item__image--book" src="<%= item[:image_url] %>" alt="<%= item[:title] %>">
        <div>
          <h3><%= item[:title] %></h3>
          <p><%= item[:credits] %></p>
        </div>
      </a>
    </li>
   <% end %>
</ul>
